@charset "UTF-8";

@import "//cdn.metatavu.io/assets/mikkeli/fonts/cairo/style.css";
@import "//cdn.metatavu.io/assets/mikkeli/fonts/titillium-web/style.css";
@import "//cdn.metatavu.io/assets/mikkeli/fonts/questa-grande/style.css";
@import "cdn.metatavu.io/assets/mikkeli/fonts/titillium-web-italic/style.css";
