@charset "UTF-8";

$break-small: 767px;
$break-x-small: 543px;
$break-medium: 991px;

@mixin font-ultra($size) {
  font-family: 'Titillium Web', sans-serif;
  font-size: $size;
  font-weight: 900;
  letter-spacing: 1.5px;
}

@mixin font-std($size) {
  font-family: 'Titillium Web', sans-serif;
  font-size: $size;
  font-weight: 400;
}