@charset "UTF-8";

$break-small: 767px;
$break-x-small: 543px;
$break-medium: 991px;
$break-large: 1199px;

@mixin font-ultra($size) {
  font-family: "Cairo";
  font-size: $size;
  font-weight: 900;
  letter-spacing: 1.5px;
}

@mixin font-std($size) {
  font-family: "Titillium Web", sans-serif;
  font-size: $size;
  font-weight: 400;
}


@mixin font-h1() {
  font-family: "QuestaGrande-BoldItalic", sans-serif;
  font-size: 90pt;
  line-height: 90pt;
  letter-spacing: 0;
}

@mixin font-h2() {
  font-family: "QuestaGrande-BoldItalic", sans-serif;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0;
}

@mixin font-h3() {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0;
}

@mixin font-h4() {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0;
}

@mixin font-h5() {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0;
}

@mixin font-h6() {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin font-h7() {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin font-h8() {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
}

@mixin font-h9() {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin font-h9n() {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin font-h10() {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin font-h11() {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0;
  color: #4d4d4d;
}

@mixin font-h12() {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 41px;
  line-height: 55px;
  letter-spacing: 0;
  color: #737373;
}

@mixin font-h13() {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin font-y13() {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-style: italic;
  line-height: 24px;
  letter-spacing: 0;
  color: #62bae9;
}

@mixin font-h14() {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000;
}

@mixin font-h2-titillum-italic() {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0;
}