@charset "UTF-8";

.no-gutter-left {
  padding-left: 0;
}

.no-gutter-right { 
  padding-right: 0;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margins {
  margin-left: 0;
  margin-right: 0;
}