@charset "UTF-8";

@import 'vars';

.page-container {
  max-width: 1200px;
}

.banner-container {
  position: relative;
 
  .banner {
  	height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 
  .banner-border-top,
  .banner-border-bottom {
    height: 8px;
    background-repeat: no-repeat;
    background-image: url('/gfx/layout/mikkeli-banner-border.png');
  }

  .banner-silhouette {
    height: 58px;
    width: 804px;
    background-position: left;
    background-repeat: repeat-x;
    background-image: url('/gfx/layout/mikkeli-silhouette.png');
    bottom: 8px;
    left: 0px;
    position: absolute;
    z-index: 2;
  }

}

.breadcrumbs-container {
	
  margin-top: 20px;
  margin-bottom: 75px;
  font-size: 14px;
	
  .breadcrumb-item {
    text-transform: uppercase;  	
    color: #464646;
    
    &:last-child {
      text-transform: none;
    }
   
    &:before {
   	  content: '››';
    }
   
    &:first-child {
      color: #428ecc;
    }
  
  	&:first-child:before {
      content: '';
    }
  }
 
}

.page-content {

  padding-left: 15px;
  padding-right: 15px;
  font-size: 95%;

  h1 {
	color: #bc177e;
  	text-transform: uppercase;
    @include font-ultra(40px);
  }
 
  h2 {
  	margin-top: 35px;
  	margin-bottom: 25px;
  	padding: 0px;
	font-size: 27px;
  }
 
  h3 {
  	margin-top: 35px;
  	margin-bottom: 25px;
  	padding: 0px;
	font-size: 24px;
  }
 
  p {
  	font-size: 15px;
  }

  .featured-image {
  	margin-top: 25px;
  	margin-bottom: 30px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 
}

.page-nav {
  
  h3 {
    @include font-ultra(14px);  	
    text-transform: uppercase;
  }
 
  .page-nav-item {
  	display: block;
  	padding-top: 15px;
  	padding-bottom: 15px;
  	border-bottom: 1px solid #ebebeb;
  	color: #363636;
  	
  	&.active {
  	  color: #bc177e;
  	  font-weight: bold;
  	}
  }
 	
}

.sidebar {
  background: #edeef2;
  
  .sidebar-block {
  	
  	h3 {
      color: #bc177e;
      @include font-ultra(24px);
      margin-top: 35px;
  	}
  
  	p {
	  letter-spacing: 0px;
	  font-size: 15px;
	}
  	
  }
}