@charset "UTF-8";

@import 'vars';

.page-container {
  
  @media (min-width: $break-large) { 
    max-width: 1200px;
  }
  
  .btn-primary {
    background-color: #bc177e;
    border-color: #bc177e;
    position: absolute;
    top: -2px;
    right: 15px;
    z-index: 9999;
    
    &:active:focus {
      background-color: darken(#bc177e, 10%);
      border-color: darken(#bc177e, 10%);
    }
  }
  
}

.banner-container {
  position: relative;
 
  .banner {
  	height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 
  .banner-border-top,
  .banner-border-bottom {
    height: 8px;
    background-repeat: no-repeat;
    background-image: url('/gfx/layout/mikkeli-banner-border.png');
  }

  .banner-silhouette {
    height: 58px;
    width: 804px;
    background-position: left;
    background-repeat: repeat-x;
    background-image: url('/gfx/layout/mikkeli-silhouette.png');
    bottom: 8px;
    left: 0px;
    position: absolute;
    z-index: 2;
  }

}

.breadcrumbs-container {
	
  margin-top: 20px;
  margin-bottom: 75px;
  font-size: 14px;
	
  @media (max-width: $break-medium) {
    margin-bottom: 15px;
  }
  
  .breadcrumb-item {
    text-transform: uppercase;  	
    color: #464646;
    
    &:last-child {
      text-transform: none;
    }
   
    &:before {
   	  content: '››';
    }
   
    &:first-child {
      color: #428ecc;
    }
  
  	&:first-child:before {
      content: '';
    }
  }
 
}

.page-content {
  font-size: 95%;
  margin-bottom: 45px;

  h1 {
	  color: #bc177e;
  	text-transform: uppercase;
    @include font-ultra(40px);
    
    @media (max-width: $break-small) {
      font-size: 26px;
      margin-right: 50px;
      word-wrap: break-word;
    }
    
  }
 
  h2 {
  	margin-top: 35px;
  	margin-bottom: 25px;
  	padding: 0px;
	font-size: 27px;
  }
 
  h3 {
  	margin-top: 35px;
  	margin-bottom: 25px;
  	padding: 0px;
	font-size: 24px;
  }
 
  p {
  	font-size: 15px;
  }

  .featured-image {
  	margin-top: 25px;
  	margin-bottom: 30px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 
}

.page-nav {
  margin-bottom: 15px;
  
  h3 {
    @include font-ultra(14px);  	
    text-transform: uppercase;
  }
 
  .child-pages { 
    padding-left: 30px;
    font-size: 14px;
    margin-bottom: 0px;
    
    > li {
      list-style-type: none;
      
      &:nth-of-type(1) {
        padding-top: 10px;
      } 
      
      &::before {
        position: absolute;
        margin-left: -20px;
        content: '» ';
      }
    }
  }
  .page-nav-item {
  	display: block;
  	padding-top: 15px;
  	padding-bottom: 15px;
  	border-bottom: 1px solid #ebebeb;
  	color: #363636;
    
    @media (max-width: $break-medium) {
      margin-right: 50px;
    }
  	
    a {
      color: #363636;
    }
    
  	&.active > a {
  	  color: #bc177e;
  	  font-weight: bold;
  	}
  }
 	
}

.sidebar {
  background: #edeef2;
  margin-bottom: 45px;
  
  .sidebar-block {
  	
  	h3 {
      color: #bc177e;
      @include font-ultra(24px);
      margin-top: 35px;
  	}
    
  	p {
      letter-spacing: 0px;
      font-size: 15px;
    }
  }
}