@charset "UTF-8";

@import 'vars';

.page-container {
  max-width: 1200px;
}

.breadcrumbs-container {
	
  margin-bottom: 75px;
  font-size: 14px;
	
  .breadcrumb-item {
    text-transform: uppercase;  	
    color: #464646;
    
    &:last-child {
      text-transform: none;
    }
   
    &:before {
   	  content: '››';
    }
   
    &:first-child {
      color: #428ecc;
    }
  
  	&:first-child:before {
      content: '';
    }
  }
 
}

.page-content {

  padding-left: 15px;
  padding-right: 15px;
  font-size: 95%;

  h1 {
	color: #bc177e;
  	text-transform: uppercase;
    @include font-ultra(40px);
  }
 
  h2 {
  	margin-top: 35px;
  	margin-bottom: 25px;
  	padding: 0px;
	font-size: 27px;
  }
 
  p {
  	font-size: 15px;
  }

  .featured-image {
  	margin-top: 25px;
  	margin-bottom: 30px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 
}

.page-nav {
  
  h3 {
    @include font-ultra(14px);  	
    text-transform: uppercase;
    
  }
	
}

.sidebar {
  background: #edeef2;
  
  .sidebar-block {
  	
  	h3 {
      color: #bc177e;
      @include font-ultra(24px);
      margin-top: 35px;
  	}
  
  	p {
	  letter-spacing: 0px;
	  font-size: 15px;
	}
  	
  }
}