@charset "UTF-8";

@import "vars";
@import "colors";

.breadcrumbs-container {
  
  margin-top: 20px;
  margin-bottom: 75px;
  font-size: 14px;
  
  @media (max-width: $break-medium) {
    margin-bottom: 15px;
  }
  
  .breadcrumb-item {
    text-transform: uppercase;    
    color: #464646;
    
    &:last-child {
      text-transform: none;
    }
   
    &:before {
      content: '››';
    }
   
    &:first-child {
      color: #428ecc;
    }
  
    &:first-child::before {
      content: '';
    }
  }
 
}

.page-container {
  
  @media (min-width: $break-large) { 
    max-width: 1200px;
  }
  
  .btn-menu {
    background-color: $musta;
    border-color: $musta;
    position: absolute;
    top: -2px;
    right: 15px;
    z-index: 9999;
    
    &:active:focus {
      background-color: $orvokki;
      border-color: $orvokki;
    }
  }
  
}

.banner-container {
  position: relative;
 
  .banner {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 
  .banner-border-top,
  .banner-border-bottom {
    height: 8px;
    background-repeat: no-repeat;
    background-image: url("/gfx/layout/mikkeli-banner-border.png");
  }

}

.page-content {
  font-size: 95%;
  margin-bottom: 45px;

  h1 {
    color: $kallio;
    @include font-ultra(40px);
    
    @media (max-width: $break-small) {
      font-size: 26px;
      margin-right: 50px;
      word-wrap: break-word;
    }
    
  }
 
  h2 {
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 0;
    font-size: 27px;
  }
 
  h3 {
    @include font-h13();
    padding-bottom: 10px;
  }
  
  h5 {
    @include font-y13();
  }
 
  p {
    @include font-h11();
  }
  
  li {
    @include font-h11();
    margin-top: 8px;
    margin-bottom: 8px;
    list-style-type: none;
    
    &::before {
      content: '\2022';
      position: absolute;
      margin-left: -40px;
      font-size: 14px; 
    }
    
  }

  .featured-image {
    margin-top: 25px;
    margin-bottom: 30px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 
}

.page-nav {
  margin-bottom: 15px;
  
  h3 {
    @include font-ultra(14px);    
    text-transform: uppercase;
  }
  
  ul {
    margin-bottom: 0;
  }
  
  .page-nav-item {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #363636;
    
    @media (max-width: $break-medium) {
      margin-right: 50px;
    }
    
    a {
      color: #363636;
    }
    
    &.active > a {
      color: $orvokki;
      font-weight: bold;
    }
  }
   
}

.sidebar {
  background: #edeef2;
  margin-bottom: 45px;
  padding-top: 15px;
  word-wrap: break-word;

  @media (max-width: $break-medium) {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  img {
    max-width: 100%;
  }

  .sidebar-block {
    
    h3 {
      color: $mustikka;
      text-transform: uppercase;
      @include font-h9();
    }
    
    h4 {
      color: $musta;
      padding-top: 5px;
      padding-bottom: 5px;
      @include font-h9();
    }
    
    p {
      @include font-h9();
    }
  }
}