@charset "UTF-8";

@import "colors";
@import "vars";

.page-featured-img {
  margin-top: 15px;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 15px;
}

.subpage-list {
  padding-left: 0;
  margin-top: 20px;
 
  li {
    list-style: none;
  }
}

.page-content {
  .casem-history-topic {
    > h3 {
      display: block;
      border-bottom: 1px solid #000;
      padding-bottom: 4px;
      cursor: pointer;
    }
  
    > h3::after {
      float: right;
      content: "+";    
    }
    
    &.open {
      > h3::after {
        content: "-";    
      }
    }
    
    .casem-history-topic-contents {
      border-bottom: 1px solid #000;
      padding-bottom: 4px;
    }
  }
  
  .service-hour {
    .service-hour-additional-info {
      display: inline;
        
      &::before {
        content: " - ";
      }
        
    }
  }

  .read-speaker-container {
    margin-bottom: 30px;
  }
}
  
.opening-hours-table {
  
  @include font-h9n();
  
  td:nth-of-type(2)::after {
    content: " - ";
  }
  
  td:nth-of-type(1) {
    width: 75px;
  }

  td:nth-of-type(2),
  td:nth-of-type(3) {
    text-align: right;
    width: 30px;
    white-space: nowrap;
  }
}

.kunta-api-contact-search {
  
  .contact-search-results {
    min-height: 400px;
  }
  
  &.searching .contact-search-results {
    background-image: url("/gfx/load.svg");
    background-size: 64px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .pages-container {
    text-align: center;
    padding-top: 20px;
    white-space: nowrap;

    .page-prev {
      padding-right: 15px;

      &::before {
        content: "< ";
      }
    }

    .page-next {
      padding-left: 15px;

      &::after {
        content: " >";
      }
    }
  }
}

.kunta-api-aside-contents {
  
  > h3:nth-of-type(1) {
    margin-bottom: 20px !important;
  }
  
}

.small-page-banner {
  height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;

  .small-page-banner-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: transparent;
    z-index: 1;
  }

  .small-page-banner-title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    padding-left: 25px;
    padding-right: 12px;

    span {
      @include font-h7();
      color: $valkoinen;
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    
    .fa-angle-right {
      float: right;
      color: $valkoinen;
      background: $musta;
      padding: 0 8px;
      font-size: 26px;
    }
  }
}

@media (min-width: 768px) {
  .small-page-banner-container {

    &:nth-of-type(even) {
      padding-left: 5px !important;
    }

    &:nth-of-type(odd) {
      padding-right: 5px !important;
    }
    
  }
}