@charset "UTF-8";

$eventTextColor: #bf167d;
$eventNameColor: #ffffff;
$eventBannerColor: #50266e;


.carousel-indicators {
  bottom: initial;
  top: 10px;
}

.header-banner {
  
  position: relative;
  
  .header-border-top,
  .header-border-bottom {
    height: 8px;
    background-repeat: no-repeat;
    background-image: url('/gfx/layout/mikkeli-banner-border.png');
  }

  .header-silhouette {
    height: 62px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('/gfx/layout/mikkeli-banner-silhouette.png');
    bottom: 8px;
    left: 0px;
    position: absolute;
    z-index: 2;
  }
  
  .header-banner-item {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    a.banner-link {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      opacity: 0;
      background: transparent;
      z-index: 0;
    }
  
    p, h1 {
      position: relative;
      z-index: 1;
    }  
  }
}

.tiles {
  
  .tile {
    width: 317px;
    height: 204px;  
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    a.tile-link {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      opacity: 0;
      background: transparent;
      z-index: 1;
    }
    
    .details {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      top: 75px;
      background: rgba(0, 0, 0, 0.2);
      
      h3, p {
        color: #fff;
        
        a {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  
}

.event-carousel-indicators {
  .carousel-indicators {
    bottom: initial;
    top: 10px;
  }
}

.news-article {
  
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 15px;
  
  .date {
    background: #000;
    color: #fff;
    display: inline-block;
    position: absolute;
  }

  .details {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
  }

  &.top-article {
    height: 250px;
    
    .date {
      bottom: 100px;
    }
    
    .details {
      height: 100px;
    }
  }
  
  &.thumb-article {
    height: 200px;
    
    .date {
      bottom: 80px;
    }
    
    .details {
      height: 80px;
    }
  }
    
}

.event {
  
  background-color: $eventBannerColor;
  height: 100%;
  
  .event-image {
    max-width: 100%;
  }
  
  .event-place {
    color: $eventTextColor;
  }
  
  .event-date {
    color: $eventTextColor;
  }
  
  .event-name {
    color: $eventNameColor;
  }
  
}