@charset "UTF-8";

@import 'vars';

.carousel-indicators {
  bottom: initial;
  top: 10px;
}

.header-banner {
  position: relative;
  
  .header-border-top,
  .header-border-bottom {
    height: 8px;
    background-repeat: repeat-x;
    background-image: url('/gfx/layout/mikkeli-banner-border.png');
  }

  .header-silhouette {
    height: 58px;
    width: 804px;
    background-position: left;
    background-repeat: repeat-x;
    background-image: url('/gfx/layout/mikkeli-silhouette.png');
    bottom: 8px;
    left: 0;
    position: absolute;
    z-index: 2;
  }
  
  .header-banner-item {
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media (max-width: $break-small) { 
      height: 300px;
    }

    .banner-content-container {
      padding-left: 100px;
      padding-right: 100px;
      @media (max-width: $break-small) { 
          padding-left: 15px;
          padding-right: 15px;
      }

      a.banner-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: transparent;
        z-index: 0;
      }
    
      h1 {
        @include font-ultra(70px);
        padding-top: 145px;
        font-weight: 900;
        letter-spacing: 3px;
        @media (max-width: $break-small) { 
          padding-top: 60px;
        }
        @media (max-width: $break-x-small) { 
          @include font-ultra(40px);
        }
      }
    
      p {
        @include font-std(18px);
        padding-top: 20px;
      }
    
      p, h1 {
        position: relative;
        z-index: 1;
        color: #fff;
      }
    }  
  }
}

.tiles {
  @media (max-width: $break-x-small) { 
    padding-left: 25px;
    padding-right: 25px; 
  }

  .tile {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10px;
    
    a.tile-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: transparent;
      z-index: 1;
    }
    
    .details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 125px;
      background: rgba(0, 0, 0, 0.2);
      padding-top: 20px;
      padding-left: 16px;
      padding-right: 16px;
      
      *:empty {
        display: none;
      }
    
      h3 {
        text-transform: uppercase;
        color: #fff;
        @include font-ultra(29px);
        max-height: 60px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
      }
      
      p {
        color: #fff;
        @include font-std(18px);
        overflow: hidden;
        text-overflow: ellipsis;
        
        a {
          position: relative;
          z-index: 2;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
  
}

.event-carousel-indicators {
  .carousel-indicators {
    bottom: initial;
    top: 10px;
  }
}

.top-article-container {
  @media (max-width: $break-x-small) { 
    padding-left: 25px;
    padding-right: 25px; 
  }
}

.thumb-articles-container {
  @media (max-width: $break-x-small) { 
    padding-left: 25px;
    padding-right: 25px; 
  }
}

.text-articles-container {
  @media (max-width: $break-x-small) { 
    padding-left: 25px;
    padding-right: 25px; 
  }
}

.news-article {
  
  position: relative;
  overflow: hidden;
  background-size: cover;
  
  .date {
    background: #bc177e;
    color: #fff;
    display: inline-block;
    @include font-std(16px);
    padding: 2px 15px;
  }

  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 19px;
    
    .title {
      
      a {
        color: #bc177e;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    
      @include font-ultra(30px);
      @media (max-width: $break-x-small) { 
        @include font-ultra(24px);
      }
    }
    
    .abstract {
      color: #000;
      @include font-std(15px);
    }
  }

  &.top-article {
    min-height: 458px;
    margin-bottom: 15px;

    .date {
      margin-top: -47px;
      position: absolute;
      left: 0;
    }

    .details {
      min-height: 155px;
      padding-top: 19px;
    }
  
    &:after {
      content: '.';
      color: transparent;
      font-size: 0;
      display: block;
      height: 8px;
      background-repeat: repeat-x;
      background-image: url('/gfx/layout/mikkeli-banner-border.png');
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  &.thumb-article {
    min-height: 287px;
    margin-bottom: 15px;
    
    .details {
      min-height: 120px;
      padding-top: 6px;
     
      .date {
        margin-top: -34px;
        position: absolute;
        left: 0;
      }
      
      .title {
        font-size: 22px;
        @media (max-width: $break-x-small) { 
          font-size: 18px;
        }
      }

      .abstract {
        max-height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
   
  &.text-article {
    
    border-top: 1px solid #aaa;
    padding-top: 7px;
    padding-bottom: 7px;
      
    .date {
      background: #bc177e;
      color: #fff;
      display: inline-block;
      @include font-std(16px);
    }
  
    .title {
      @include font-std(18px);
      padding-left: 12px;
      display: inline-block;
      
      a {
        color: #373a3c;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    
    }
    
  }
    
}

.all-news-link {
  margin-top: 15px;
  margin-bottom: 30px;
  background: #bc177e;
  color: #fff;
  display: inline-block;
  @include font-ultra(20px);
  padding: 20px 24px;
  line-height: 20px;
  
  &:hover {
    color: #fff;
  }
}

.text-articles-container {
  
  .row:last-child .text-article {
    border-bottom: 1px solid #aaa;
  }

}

.events-title {
  color: #bc177e;
  @include font-ultra(30px);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}
 
.events-container {
  margin-left: -15px;
  margin-right: -15px;
  
  @media (max-width: $break-medium) { 
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  @media (max-width: $break-small) { 
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .event-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.event {
  height: 263px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  .details {
    position: absolute;
    background: #50266f;
    height: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: 15px;
    
    .date, 
    .place {
      color: #bf167d;
    }
  
    .date  {
      @include font-ultra(44px);
      margin-top: 0;
      text-align: center;
      letter-spacing: 0.5px;
      padding-top: 8px;
      padding-left: 15px;
    }

    .name {
      @include font-std(14px);       
      color: #fff;
      white-space: nowrap;
    }
  
    .place {
      @include font-ultra(20px);
      margin-top: 15px;
      text-transform: uppercase; 
      white-space: nowrap;
    }
     
    .place, .name {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 15px;
    }
  }
}

.event-carousel-controls {
  
  .carousel-control {
    background-image: none;
    
    .icon-next, 
    .icon-prev {
      color: #c2c2c2;
      line-height: 0;
      font-size: 150px;
      font-family: serif;
      text-shadow: none;
    }

    &.left {
      left: -15%;  
    }
  
    &.right {
      right: -15%;  
    }
  }
}

.all-events-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.content-blocks-container {
  padding-top: 40px;
  padding-bottom: 70px;
  background-image: url("/gfx/layout/mikkeli-index-blocks-background.jpg");
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  
  .content-block {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
    min-height: 455px;
    position: relative;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $break-large) { 
      height: 100%;
    }
    
    .icon {
      height: 72px;
      width: 72px;
      background-position: center bottom;
      background-repeat: no-repeat;
      display: inline-block;
    }

    .content a {
      @include font-ultra(16px);
    }

    &.info-block {
      .icon {
        background-image: url("/gfx/layout/mikkeli-osallistuvaikuta-icon.png");
      }
    
      .title, .content a {
        color: #779c40;
      }
    
      .content a:before {
        content: '< ';
      }
    
      .content a:after {
        content: ' >';
      }
    
      .all-link {
        background-color: #779c40;
      } 
    }
  
    &.jobs-block {
      .icon {
        background-image: url("/gfx/layout/mikkeli-kunta-rekry-icon.png");
      }
    
      .title, .content a {
        color: #2b50a4;
      }
    
      .content a {
        text-transform: uppercase;
      }
    
      .all-link {
        background-color: #2b50a4;
      }
    }
  
    &.announcements-block {
      .icon {
        background-image: url("/gfx/layout/mikkeli-kuulutukset-icon.png");
      }
    
      .title, .content a {
        color: #bc177e;
      }
    
      .content a {
        text-transform: uppercase;
      }
    
      .all-link {
        background-color: #bc177e;
      }
    }
    
    .title {
      margin-top: 25px;
      text-transform: uppercase;
      line-height: 32px;
      @include font-ultra(32px);
    }
  
    .content {
      margin-top: 10px;
    }
  
    .content-block-row {
      margin-bottom: 10px;
      
      a {
        display: block;
      }
    }
  
    .all-link-container {
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
    }
  
    .all-link {
      padding: 20px 25px;
      margin-left: auto;
      margin-right: auto;
      white-space: nowrap;
      display: inline-block;
      line-height: 20px;
      @include font-ultra(20px);
      color: #fff;
    }
  }
}

.social-media-item, 
.social-media-items-grid-sizer {
  width: calc(100% - 10px);
  display: inline-block;
  margin: 5px;
}

.social-media-item {
  border: 1px solid #e7e7e7;
 
  &[data-source="facebook"] {
    background: #edeef2;
    color: #696969;
    
    .link {
      color: #696969;
    }
  }
  
  &[data-source="twitter"] {
    background: #55acee;
    color: #fff;
    
    .link {
      color: #fff;
    }
  
    .text a {
      color: #0c6cab;
    }
    
  }
  
  &[data-source="instagram"] {
    background: #fff;
    color: #696969;
    
    .link {
      color: #696969;
    }
  }

  .header {
    padding: 10px 15px;
    border-bottom: 1px solid #e7e7e7; 
  }

  .link {
    display: inline-block;
    margin-left: 18px;
    vertical-align: top;
    margin-top: 6px;
    text-decoration: none;
    @include font-std(16px);
    
    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    vertical-align: top;
    font-size: 34px;
    display: inline-block;
        
    &.fa-facebook-official {
      color: #3c5a99;
    }
  
    &.fa-instagram {
      color: #696969;
    }
  
    &.fa-twitter {
      color: #fff;
    }
  }

  .content {
    .text {
      @include font-std(15px);
      padding: 20px 25px;
    }
  
    img {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .social-media-item, 
  .social-media-items-grid-sizer {
    width: calc(50% - 10px);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .social-media-item, 
  .social-media-items-grid-sizer {
    width: calc(25% - 10px);
    display: inline-block;
  }
}  