@charset "UTF-8";

@import "vars";

$metaform-radio-width: 20px;
$metaform-radio-color: #fff;

html,body {
  width: 100%;
  min-height: 100vh;
  background: #a91a7c;
  background: -moz-linear-gradient(45deg, #a91a7c 0%, #ee7b27 100%);
  background: -webkit-linear-gradient(45deg, #a91a7c 0%,#ee7b27 100%);
  background: linear-gradient(45deg, #a91a7c 0%,#ee7b27 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a91a7c', endColorstr='#ee7b27',GradientType=1 );
  background-repeat: no-repeat;
  
  &.story-results {
    background: #f5f5f5;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
  
  &.negative-margin {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.loading-screen {
   @include font-h2();
  font-size: 48px;
  line-height: 55px;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  padding-top: 20%;
  background: #a91a7c;
  background: -moz-linear-gradient(45deg, #a91a7c 0%, #ee7b27 100%);
  background: -webkit-linear-gradient(45deg, #a91a7c 0%,#ee7b27 100%);
  background: linear-gradient(45deg, #a91a7c 0%,#ee7b27 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a91a7c', endColorstr='#ee7b27',GradientType=1 );
  background-repeat: no-repeat;
  z-index: 3;
}

.top-bar {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-top: 65px;
  
  @media (max-width: $break-small) { 
    padding-top: 25px;
  }
  
  .mikkeli-logo {
    @media (max-width: $break-x-small) {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  .top-bar-btn-container {
    float: right;

    @media (max-width: $break-x-small) {
      float: none;
      text-align: center;
    }
    
  }
  
  .container {
    @media (min-width: 1200px) {
      max-width: 1200px;
    }
    
    @media (min-width: 1400px) {
      max-width: 1400px;
    }
  }
  
  h3,
  h4 {
    display: inline;
  }
  
  h4 {
    @include font-h2-titillum-italic();
    color: #d84c6e;
    font-size: 33px;
    line-height: 33px;
    margin-right: 30px;
    
    &.white {
      color: #fff;
    }
    
    @media (max-width: 1200px) { 
      margin-right: 0;
    }
    
    @media (max-width: $break-x-small) {
      font-size: 24px;
      margin-right: 0;
    }
  }
  
  h3 {
    font-size: 55px;
    color: #000;
    vertical-align: middle;
    
    .fa {
      margin-left: 15px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    @media (max-width: 1200px) { 
      font-size: 30px;
    }
    
    @media (max-width: $break-x-small) {
      font-size: 30px;
    }
  }
  
  .redo-btn {
    @include font-h6();
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    font-weight: 700;
    border: 0;
    border-radius: 0;
    margin-right: 15px;
    
    @media (max-width: 991px) { 
      display: block;
      text-align: center;
    }
  }
}

.story-results {
  
  .results-image {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    @media (max-width: 991px) { 
      height: 300px;
      margin-top: 200px;
    }
    
  }
  
  .story-container {
    padding-top: 250px;
    max-width: 1000px;
    padding-left: 65px;
    
    @media (max-width: 991px) { 
      padding-top: 530px;
    }
    
    h2 {
      @include font-h2();
      font-size: 48px;
      line-height: 55px;
      color: #b12672;
      margin-bottom: 35px;
    }
    
    h3 {
      @include font-h2-titillum-italic();
      text-transform: uppercase;
      font-size: 35px;
      line-height: 45px;

      .fa {
        margin-left: 15px;
      }
      
    }
    
    p {
      @include font-h6();
      font-size: 24px;
      line-height: 27px;
      color: #000;
    }
  }
}

.metaform-paged .metaform {
  section.ui-effects-placeholder {
    position: absolute;
    min-height: 100%;
  }
}

.metaform-container {
  padding-top: 250px;
  color: #fff;
  
  @media (max-width: $break-small) { 
    padding-top: 180px;
  }
  
  section {
    width: 100%;
  }

  .form-check {

    label.form-check-label {
      padding-left: 0;
    }

    input {
      opacity: 0;
      position: absolute;
      width: 0;
    }
  
    label::before {
      content: '';
      margin-right: 10px;
      margin-top: $metaform-radio-width / 4;
      vertical-align: top;
      width: $metaform-radio-width;
      height: $metaform-radio-width;
      display: inline-block;
      border-width: 1px;
      border-radius: $metaform-radio-width / 2;
      border-color: $metaform-radio-color;
      border-style: solid;
      position: absolute;
      margin-left: -40px;
    }
    
    &:hover label::before,
    input:active + label::before,
    input:checked + label::before {
      background: $metaform-radio-color;
    }

  }
   
  .metaform-pages-container {
    @include font-h6();
    font-size: 24px;
    line-height: 27px;
  }
  
  label {
    @include font-h6();
    display: inline;
    font-size: 24px;
    line-height: 27px;
    
    @media (max-width: $break-small) { 
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  .next-prev-button-container {
    margin-bottom: 30px;
  }
  
  .metaform-next,
  .metaform-prev {
    display: none;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    line-height: 0;
    margin-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  .metaform-prev {
    padding-left: 5px;
    padding-right: 8px;
  }

  .metaform-next {
    padding-left: 8px;
    padding-right: 5px;
  }
  
  #section-0 {
    fieldset {
      padding: 15px;
    }
  }
  
  h2 {
    @include font-h2-titillum-italic();
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    
    @media (max-width: $break-small) { 
      font-size: 35px;
      line-height: 37px;
      padding-left: 0;
    }
    
  }
  
  .header-page-container {
    text-align: center;
    
    h1 {
      @include font-h1();
      margin-bottom: 65px;

      @media (max-width: $break-medium) { 
        font-size: 80pt;
        line-height: 80pt;
        margin-bottom: 25px;
      }
      
      @media (max-width: $break-small) { 
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 25px;
      }
      
       @media (max-width: $break-x-small) { 
        font-size: 45px;
        line-height: 45px;
      }
    }
    
    p {
      @include font-h4();
      margin-bottom: 55px;

      @media (max-width: $break-small) { 
        font-size: 24px;
        line-height: 27px;
      }
    }
    
    .start-query-btn {
      @include font-h4();
      background-color: #000;
      color: #fff;
      padding: 20px 25px;
      font-weight: 700;
      border: 0;
      border-radius: 0;
    }
  }
  
}

.container {
  @media (min-width: 1200px) {
    max-width: 1000px;
  }
}
