@charset "UTF-8";

@import "vars";
@import "colors";

.article-img {
  margin-top: 15px;
  min-height: 250px;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 15px;
}

.image-container {
  margin-bottom: 15px;
  
  .featured-image {
    margin-bottom: 0;
  }
  
}

.tags {
  
  margin-bottom: 15px;
   
  .tag {
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 5px 8px;
    margin-right: 5px;
  }
  
}

.all-news-link {
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  display: block;
  color: $musta;
}

.social-buttons {
  i {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    font-size: 36px;
    color: #3b5998;
  }

  p {
    margin-top: 10px;
  }
}

.news-article {
  
  position: relative;
  overflow: hidden;
  
  .date {
    @include font-h9();
    background: $musta;
    color: $valkoinen;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 110px;
    text-align: center;
  }

  .title {
    a {
      @include font-h6();
      color: $musta;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .details {
    background: $news-details-background-color;
    padding: 20px 20px 10px 20px;
  }
  
  .news-article-image {
    min-height: 160px;
    background-size: cover;
  }
  
  &.thumb-article {
    margin-bottom: 15px;
    
    .details {
      min-height: 80px;
      padding-top: 6px;
     
      .date {
        margin-top: -43px;
        position: absolute;
        left: 0;
      }
      
      .title {
        padding: 20px 5px;
      }
    }
  }
   
  &.text-article {
    
    border-top: 1px solid #aaa;
    padding-top: 7px;
    padding-bottom: 7px;
      
    .date {
      background: $musta;
      color: $valkoinen;
      display: inline-block;
    }
  
    .title {
      padding-left: 12px;
      display: inline-block;
      
      a {
        color: #373a3c;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    
    }
    
  }
    
}
