@charset "UTF-8";

@import "vars";
@import "colors";

.image-container {
  margin-bottom: 15px;
  
  .featured-image {
    margin-bottom: 0;
  }
  
}

.tags {
  
  margin-bottom: 15px;
   
  .tag {
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 5px 8px;
    margin-right: 5px;
  }
  
}

.all-news-link {
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  display: block;
  color: $musta;
}