@charset "UTF-8";

@import "vars";

.article-img {
  margin-top: 15px;
  min-height: 250px;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 15px;
}

.image-container {
  margin-bottom: 15px;
  
  .featured-image {
    margin-bottom: 0;
  }
  
}

.tags {
  
  margin-bottom: 15px;
   
  .tag {
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 5px 8px;
    margin-right: 5px;
  }
  
}
