@charset "UTF-8";

@import "vars";
@import "colors";

.article-img {
  margin-top: 15px;
  min-height: 250px;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 15px;
}

.image-container {
  margin-bottom: 15px;
  
  .featured-image {
    margin-bottom: 0;
  }
  
}

.date-container {
  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}

.tags {
  
  margin-bottom: 15px;
   
  .tag {
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 5px 8px;
    margin-right: 5px;
  }
  
}

.all-news-link {
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  display: block;
  color: $musta;
}

.social-buttons {
  i {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    font-size: 36px;
    color: #3b5998;
  }

  p {
    margin-top: 10px;
  }
}
