@charset "UTF-8";

@import "colors";
@import "fonts";
@import "vars";

.content-container {
  overflow-x: hidden;
  overflow: hidden;
  width: 100vw;
}

.search-results {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.9);
  text-align: left;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 5px;
  border-radius: 5px;
  
  .no-results {
    font-size: 14px;
  }
  
  h3 {
    font-size: 16px;
    background: rgba(0, 0, 0, 0.01);
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    font-weight: bold;
    margin-top: 10px;
    
    &:first-of-type {
      margin-top: 0;
    }
  }
  
  ul {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    
    li {
      list-style: none;
      
      .fa {
        margin-top: 4px;
      }
      
      a {
        vertical-align: middle;
        font-size: 14px;
        color: #000;
        margin-left: 5px;
        max-width: calc(100% - 40px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
      }
      
      .file-page-link {
        margin-left: 5px;
 
        .fa {
          margin-top: 6px;
        }
      
      }
      
    }
  }
}


*[data-lazy-bg-image] {
  background-image: url('/gfx/load.svg') !important;
  background-size: 48px auto !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-color: #eee !important;
}

.logo-container {

  @media (min-width: $break-large) {
     padding-top: 54px;
  }
  
  @media (max-width: $break-small) {
     margin-bottom: 26px;
  }
}

nav.navbar {
  padding-top: 26px;
  padding-bottom: 3px;
}

.navbar-toggler {
  padding-top: 4px;
  padding-left: 0;
  
  .fa-bars {
    color: #5f626a;
    font-size: 30px;
  }

  &:focus {
    box-shadow: none;
    outline-style: none;
    border-color: transparent;
  }

}

.header-banner {
  margin-bottom: 30px;
}

.nav-search-container {
  padding-bottom: 15px;
  
  input {
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 12px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-top: 4px;
    width: 100%;

    @media (min-width: $break-small) {
      max-width: 190px;
    }
  }

  .fa-search {
    margin-left: -25px;
    color: #aaa;
    font-size: 15px;
    margin-top: 1px;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  &.searching {
    .fa-search {
      visibility: hidden;
    }
    
    input {
      background-image: url("/gfx/load-2.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) 4px;
    }
  }    
}

.nav-some-icons {
  
 .fa {
    color: #999;
    font-size: 28px;
    padding-left: 12px;
  } 
}

.nav-quick-icons {
  
  text-align: right;
  
  .fa {
    color: #fff;
    font-size: 16px;
    background: #52b9e9;
    width: 28px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.navbar-light .navbar-nav {
  .nav-item {
    margin-left: 20px;
    
    @media (max-width: $break-medium) {
      margin-left: 0;
      margin-right: 20px;
    }

    @media (max-width: $break-x-small) {
      margin-right: 0;
    }
  }
}

.navbar-light .navbar-nav.nav-bar-primary,
.navbar-light .navbar-nav.nav-bar-secondary {
  .nav-link {
    @include font-std(17px);
    color: #aaa;
    text-transform: uppercase;
  }

  .nav-item:first-child {
    margin-left: 0;
  }
}

.horizontal-line {
  height: 8px;
  background-repeat: repeat-x;
  background-image: url("/gfx/layout/mikkeli-banner-border.png");
  width: 100%;
}

footer {
  color: #fff;
  margin-top: 59px;
  min-height: 280px;
  background: $kallio;
  
  a,
  a:hover,
  a:visited {
    color: #fff;
    text-decoration: underline;
  }

  img {
    margin-top: 64px;
    margin-bottom: 10px;
  }

  .footer-logo-container {
    margin-top: 64px;
  }

  .footer-address-container {
    margin-top: 26px;
  }
  
  h4 {
    @include font-ultra(16px);
    text-transform: uppercase;
    margin-top: 62px;
  }

  p {
    @include font-std(15px);
  }
  
  &:before {
    height: 8px;
    background-repeat: repeat-x;
    background-image: url("/gfx/layout/mikkeli-banner-border.png");
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    content: '.';
    color: transparent;
  }
}

