footer.container-fluid.no-gutters
  .container
    .row
      .col-xs-6
        .footer-logo-container
          img(src="/gfx/layout/mikkeli-logo-footer.png")
        .footer-address-container
          p
            span
              |Raatihuoneenkatu 8 - 10
            br
            span
              |50100 Mikkeli
          p
            span
              |Puhelinpalvelu (kaupungin vaihde) 
            br
            span
              |015 1941 (arkisin klo 8 - 16)
      .col-xs-18
        .row
          .col-xs-6
            h4
              |Organisaatio
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta eros risus, id tincidunt nisi euismod eget.
          .col-xs-6
            h4
              |Päätöksenteko
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta eros risus, id tincidunt nisi euismod eget.
          .col-xs-6
            h4
              |Talous ja strategia
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta eros risus, id tincidunt nisi euismod eget.
          .col-xs-6
            h4
              |Ota yhteyttä
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta eros risus, id tincidunt nisi euismod eget.
  
