footer.container-fluid.no-gutters
  .container.footer-container
    .row
      .col-xs-24.col-lg-6
        !=fragmentMap['footer-1']
      .col-xs-24.col-lg-18
        .row(class="footer-row")
          .col-xs-24.col-lg-6
            !=fragmentMap['footer-2']
          .col-xs-24.col-lg-6
            !=fragmentMap['footer-3']
          .col-xs-24.col-lg-6
            !=fragmentMap['footer-4']
          .col-xs-24.col-lg-6
            !=fragmentMap['footer-5']
  .container-fluid.no-gutters
    .row
      .col-xs
        .horizontal-line