mixin breadcrumbs(breadcrumbs)
  .col-xs.breadcrumbs-container
    a.breadcrumb-item(href="/")
      |Etusivu
    each breadcrumb, index in breadcrumbs
      if(index === breadcrumbs.length - 1)
        span.breadcrumb-item.active
          !=title
      else 
        a.breadcrumb-item(href=breadcrumb.path)
          =breadcrumb.title
