nav.navbar.navbar-light.bg-faded
  .container
    button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
      | ☰
    .collapse.navbar-toggleable-xs#exCollapsingNavbar  
      .row
        .col-xs-5
          |Kunta LOGO
        .col-xs-7.text-xs-right
          .row
            .col-xs-6
              |Haku 
            .col-xs-3
              |SOME
            .col-xs-3
              |KARTTA
          .row
            .col-xs
              |MUIKKU
      nav.navbar.navbar-light.bg-faded.row
        .col-xs-6.no-gutter-left
          ul.nav.navbar-nav
            li.nav-item
              a.nav-link(href='#')
                | Palvelut
            li.nav-item
              a.nav-link(href='#') 
                | Tietoa Kunnasta
        .col-xs-6.no-gutter-right
          ul.nav.navbar-nav.pull-xs-right
            li.nav-item
              a.nav-link(href='#')
                | Organisaatio 
              li.nav-item
                a.nav-link(href='#') Päätöksenteko
              li.nav-item
                a.nav-link(href='#') Talous ja strategia
              li.nav-item
                a.nav-link(href='#') Ota yhteyttä