nav.navbar.navbar-light
  .container
    .row.hidden-sm-up
      .col-xs-6
        button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bars
      .col-xs-18.logo-container
        a(href="/")
          img.logo(src="/gfx/layout/mikkeli-logo.png")
    .collapse.navbar-toggleable-xs#exCollapsingNavbar  
      .row
        .col-md-10.logo-container.hidden-sm-down
          a(href="/")
            img.logo(src="/gfx/layout/mikkeli-logo.png")
        .col-xs-24.col-md-14.text-md-right.text-xs-left.no-gutters
          .row
            .col-xs-24.col-md-10.col-lg-15.flex-md-last.flex-lg-first
              .nav-search-container
                input(placeholder="Hae...")
                i.fa.fa-search(aria-hidden="true")
            .col-xs-20.col-md-12.col-lg-7.pull-lg-right.no-gutter-right
              .nav-some-icons
                a(href="https://www.facebook.com/mikkelinkaupunki")
                  i.fa.fa-facebook-official(aria-hidden="true")
                a(href="https://twitter.com/MikkelinK")
                  i.fa.fa-twitter(aria-hidden="true")
                a(href="https://www.instagram.com/mikkelin_kulttuuripalvelut")
                  i.fa.fa-instagram(aria-hidden="true")
                a(href="https://www.linkedin.com/company/mikkelin-kaupunki")
                  i.fa.fa-linkedin(aria-hidden="true")
            .col-xs-2
              .nav-quick-icons
                a(href="http://kartta.mikkeli.fi/kartta/")
                  i.fa.fa-map-marker(aria-hidden="true")
      nav.navbar.navbar-light.row
        .col-xs-24.col-lg-10.no-gutter-left.no-gutters-medium
          ul.nav.navbar-nav.nav-bar-primary
            if menus['paavalikko']
              each item in menus['paavalikko'].items
                li.nav-item
                  a.nav-link(href=item.url)
                    = item.label 
        .col-xs-24.col-lg-14.no-gutter-right.no-gutters-medium
          ul.nav.navbar-nav.pull-lg-right.nav-bar-secondary
            if menus['sisalto']
              each item in menus['sisalto'].items
                li.nav-item
                  a.nav-link(href=item.url)
                    = item.label