nav.navbar.navbar-light
  .container
    .row.hidden-sm-up
      .col-xs-6
        button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bars
      .col-xs-18.logo-container
        a(href="/")
          img.logo(src="/gfx/layout/mikkeli-logo.png")
    .collapse.navbar-toggleable-xs#exCollapsingNavbar  
      .row
        .col-md-10.logo-container.hidden-sm-down
          a(href="/")
            img.logo(src="/gfx/layout/mikkeli-logo.png")
        .col-xs-24.col-md-14.text-md-right.text-xs-left.no-gutters
          .row
            .col-xs-24.col-md-10.col-lg-13.flex-md-last.flex-lg-first
              .nav-search-container
                input
                i.fa.fa-circle-o-notch.fa-spin
                a.fa.fa-search(aria-hidden="true", href="/haku")
            .col-xs-16.col-md-10.col-lg-7.pull-lg-right.no-gutter-right
              .nav-some-icons
                a(href="https://www.facebook.com/mikkelinkaupunki", target="_blank")
                  i.fa.fa-facebook-official(aria-hidden="true")
                a(href="https://twitter.com/MikkelinK", target="_blank")
                  i.fa.fa-twitter(aria-hidden="true")
                a(href="https://www.instagram.com/mikkelinkaupunki/", target="_blank")
                  i.fa.fa-instagram(aria-hidden="true")
                a(href="https://www.linkedin.com/company/mikkelin-kaupunki", target="_blank")
                  i.fa.fa-linkedin(aria-hidden="true")
            .col-xs-6.col-md-4.no-gutter-right
              .nav-quick-icons
                a.map-link(href="http://kartta.mikkeli.fi/kartta/", target="_blank")
                  i.fa.fa-map-marker(aria-hidden="true")
                if locales
                  .locale-menu
                    .current-locale
                      =locale
                    each locale in locales 
                      a(href="?locale=" + locale.code)
                        =locale.text
            
      nav.navbar.navbar-light.row
        .col-xs-24.no-gutter-left.no-gutters-medium
          ul.nav.navbar-nav.nav-bar-primary
            if menus['paavalikko']
              each item in menus['paavalikko'].items.concat(menus['sisalto'].items||[])
                li.nav-item
                  a.nav-link(href=item.url)
                    = item.label