nav.navbar.navbar-light
  .container
    .row.hidden-sm-up
      .col-xs-6
        button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
          span.fa.fa-bars
      .col-xs-18.logo-container.text-xs-center
        a(href="/")
          img.logo(alt="Mikkelin logo, navigoi etusivulle", title="Mikkelin logo, navigoi etusivulle", src="/gfx/layout/mikkeli-logo.png")
    .collapse.navbar-toggleable-xs#exCollapsingNavbar  
      .row
        .col-md-10.logo-container.hidden-sm-down
          a(href="/")
            img.logo(alt="Mikkelin logo, navigoi etusivulle", title="Mikkelin logo - navigoi etusivulle", src="/gfx/layout/mikkeli-logo.png")
        .col-xs-24.col-md-14.text-md-right.text-xs-left.no-gutters
          .row
            button(class="to-content", title="Mene sisältöön")
            .col-xs-24.col-md-10.col-lg-13.flex-md-last.flex-lg-first
              .nav-search-container
                label(for="search" class="search-label") Hae sivustosta
                input(title="Hae sivustosta" id="search")
                span.fa.fa-circle-o-notch.fa-spin
                button.fa.fa-search(aria-hidden="true",title="Hae sivustosta -painike", onclick="location.href='/haku'")
            .col-xs-16.col-md-10.col-lg-7.pull-lg-right.no-gutter-right
              .nav-some-icons
                a(href="https://www.facebook.com/mikkelinkaupunki",title="Facebook - Mikkelikaupunki", target="_blank")
                  span.fa.fa-facebook-official(aria-hidden="true")
                a(href="https://twitter.com/MikkelinK",title="Twitter - Mikkelikaupunki", target="_blank")
                  span.fa.fa-twitter(aria-hidden="true")
                a(href="https://www.instagram.com/mikkelinkaupunki/",title="Instagram - Mikkelikaupunki" target="_blank")
                  span.fa.fa-instagram(aria-hidden="true")
                a(href="https://www.linkedin.com/company/mikkelin-kaupunki",title="Linkedin - Mikkelikaupunki", target="_blank")
                  span.fa.fa-linkedin(aria-hidden="true")
            .col-xs-6.col-md-4.no-gutter-right
              .nav-quick-icons
                a.map-link(href="http://kartta.mikkeli.fi/kartta/",title="Mikkeli kartta" target="_blank")
                  span.fa.fa-map-marker(aria-hidden="true")
                if locales
                  .locale-menu
                    button.current-locale(title="Vaihda kieli")
                      =locale.code
                    each localeItem in locales 
                      a(title="Vaihda kieli " + localeItem.code, href=(localeItem.path || "") + "?locale=" + localeItem.code)
                        =localeItem.text
            
      nav.navbar.navbar-light.row
        .col-xs-24.no-gutter-left.no-gutters-medium
          ul.nav.navbar-nav.nav-bar-primary
            if menus['paavalikko'] && menus['paavalikko'].items
              each item in menus['paavalikko'].items
                li.nav-item
                  a.nav-link(title=item.label, href=item.url)
                    = item.label
            if menus['sisalto'] && menus['sisalto'].items
              each item in menus['sisalto'].items
                li.nav-item
                  a.nav-link(title=item.label, href=item.url)
                    = item.label
