extends ../layout/contents.pug

include ../includes/mixins.pug

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/error.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner-border-top
        .banner(data-lazy-bg-image=bannerSrc)
        .banner-border-bottom
      
  .container.page-container
    .row
      +breadcrumbs()
        
  .container.page-container
    .row
      .col-xs-24
        .page-content
          h1
            |Sisäinen virhetila!
          p
            |Palvelimella tapahtui odottamaton virhe.  
          p
            |Ole hyvä ja palaa takaisin 
            b
              a(href="/", title="Linkki etusivulle")
                |etusivulle