extends ../layout/contents.pug

include ../includes/mixins.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/jquery-lazyload/1.9.7/jquery.lazyload.min.js")
  script(defer="defer",type="text/javascript", src="/js/contents.js")

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/contents.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner(data-lazy-bg-image=bannerSrc)
        
  .container.page-container
    .row
      +breadcrumbs(breadcrumbs)
      
  .container.page-container
    .row
      if !hideMenu
        nav.col-lg-5.page-nav.no-gutters.hidden-md-down
          p(class="nav-folder-title")
            =rootFolderTitle
          each child in children
            +pageMenuItem(child)
                  
        .col-xs-24.hidden-lg-up
          a.btn.btn-primary.btn-menu(title='Näytä valikko', data-toggle='collapse', href='#collapse-menu', aria-expanded='false', aria-controls='collapse-menu')
            i.fa.fa-bars
          .collapse#collapse-menu
            .col-xs-24.page-nav.no-gutters
              each child in children
                +pageMenuItem(child)

      div(class=hideMenu ? "col-xs-24 col-lg-19" : "col-xs-24 col-lg-14") 
        .page-content
          h1
            !=title
          if featuredImageSrc
            img.page-featured-img.lazy(data-original=featuredImageSrc, alt="Artikkelikuva", title="Artikkelikuva")
          if readSpeakerCustomerId
            .read-speaker-container
              +readSpeaker(readSpeakerCustomerId)
          .rs_read_this_class
            !=contents
          if !accessibilityInfo
            .accessibilityInfo
              .accessibility-info-header
                p
                  strong
                    ="Esteettömyystiedot"
              .accessibility-info-container
                button.open-info(title="Avaa reitti pääsisäänkäynnille")
                  span.arrow-icon.closed
                  span.button-text
                    |Reitti pääsisäänkäynnille
                .accessibility-info-content.hidden
                  ul
                    li Saattoliikenteen pysähtymispaikka sijaitsee sisäänkäynnin läheisyydessä (etäisyys enintään 5 metriä), josta sisäänkäynnille pääsee siirtymään sujuvasti.
                    li Kulkureitti sisäänkäynnille on opastettu, tasainen ja riittävän leveä sekä valaistu.
              .accessibility-info-container
                button.open-info(title="Avaa pääsisäänkäynti")
                  span.arrow-icon.closed
                  span.button-text
                    |Pääsisäänkäynti
                .accessibility-info-content.hidden
                  ul
                    li testi
                    li testi 2
              .accessibility-info-container
                button.open-info(title="Avaa sisätilat")
                  span.arrow-icon.closed
                  span.button-text
                    |Sisätilat

      if sidebarContents
        .col-xs-24.col-lg-5.sidebar
          .sidebar-block
            !=sidebarContents
    input.rootPath(type="hidden", value=rootPath)