extends ../layout/index.pug

block content
  .container
    .row
      .col-xs
        each event in events
          p 
            =event.name
          if event.imageSrc
            img(src=event.imageSrc)
