extends ../layout/index.pug

mixin event(event) 
  .col-xs-4
    .event
      .row
        .col-xs
          img.event-image(src=event.imageSrc + "?size=400")
      .row.no-margins
        .col-xs.event-banner
          .row
            .col-xs-3
              span.event-date
                =event.shortDate
            .col-xs-9
              label.event-place
                =event.place            
              label.event-name
                =event.name 

mixin newsArticleTop(article)
  .news-article.top-article(style='background-image: url(' + article.imageSrc + '?size=350)')
    .date
      =article.shortDate
    .details
      .title
        =article.title
      .abstract
        !=article.abstract
mixin newsArticleThumb(article)
  .news-article.thumb-article(style='background-image: url(' + article.imageSrc + '?size=350)')
    .date
      =article.shortDate
    .details
      .title
        =article.title
      .abstract
        !=article.abstract

mixin newsArticleText(article)
  .news-article.text-article
    .title
      =article.title

block styles
  link(rel="stylesheet", href="/css/index.min.css")

block content
  .container
    .row
      .col-xs
        .row
          .col-xs
            |Zadaa
        .row
          .col-xs-8
            .row
              .col-xs
                +newsArticleTop(news.top)
            .row
              .col-xs
                .row
                  each newsArticle in news.thumbs
                    .col-xs-6
                      +newsArticleThumb(newsArticle)
            .row
              .col-xs
                each newsArticle in news.texts
                  .row
                    .col-xs
                      +newsArticleText(newsArticle)
          .col-xs-4
            |HEE
        .row
          .col-xs
            #event-slide.carousel.slide(data-ride='carousel')
              .event-carousel-indicators
                ol.carousel-indicators
                  each eventPage, pageIndex in eventPages
                    li(data-target='#event-slide', data-slide-to='#{pageIndex}')
              .event-carousel-items
                .carousel-inner(role='listbox')
                  each pageEvents, pageIndex in eventPages
                    - var itemClass=pageIndex == 0 ? "carousel-item active" : 'carousel-item'
                    div(class=itemClass)
                      .row
                        each event in pageEvents
                          +event(event)
              .event-carousel-controls
                a.left.carousel-control(href='#event-slide', role='button', data-slide='prev')
                  span.icon-prev(aria-hidden='true')
                  span.sr-only Previous
                a.right.carousel-control(href='#event-slide', role='button', data-slide='next')
                  span.icon-next(aria-hidden='true')
                  span.sr-only Next
        .row
          .col-xs.text-xs-center
            span
              |Katso kaikki tapahtumat
            span
              | 
            a(href="www.mikkelinyt.fi",target="_blank")
              |www.mikkelinyt.fi