extends ../layout/mikkelin-tarina.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/metaform-fields/0.6.18/js/modernizr.js")
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/metaform-fields/0.6.18/js/form.js")
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/metaform-fields/0.6.18/js/form-utils.js")
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/metaform-fields/0.6.18/js/metaform-client.min.js")
  script(defer="defer",type="text/javascript", src="/js/mikkelin-tarina.js")

block styles
  link(rel="stylesheet", href="//cdn.metatavu.io/libs/metaform-fields/0.6.18/css/form.min.css")
  link(rel="stylesheet", href="/css/mikkelin-tarina.min.css")

block body
  body
    .loading-screen
      img(alt="Ladataan", title="Ladataan", src='/gfx/mikkelintarina/load.svg')
      h2 Ladataan...
    .top-bar
      .container
        .row
          .col-sm-9
            img.mikkeli-logo(alt="mikkeli-logo", title="mikkeli-logo", src="/gfx/mikkelintarina/mikkeli-logo.jpg")
          .col-sm-15
            .top-bar-btn-container
              h4.hashtag.white
                ='#' + hashtag
              h3
                span.fa.fa-facebook-square.social-share-btn(data-share-url="https://www.facebook.com/sharer/sharer.php?u={{url}}")
                span.fa.fa-twitter.social-share-btn(data-share-url="https://twitter.com/intent/tweet/?url={{url}}&hashtags=" + hashtag)
    .container
      !=contents
