extends ../layout/mikkelin-tarina.pug

block scripts
  script(defer="defer",type="text/javascript", src="/js/mikkelin-tarina-results.js")

block styles
  meta(property='og:title', content=storyTitle)
  meta(property='og:description', content=storyContent)
  meta(property='og:image', content=siteUrl + "/gfx/mikkelintarina/" + image)
  meta(property='og:image:type', content="image/jpeg")
  meta(property='og:image:width', content="1920")
  meta(property='og:image:height', content="1080")
  link(rel="stylesheet", href="/css/mikkelin-tarina.min.css")

block body
  body.story-results
    .top-bar
      .container
        .row
          .col-sm-9
            img.mikkeli-logo(src="/gfx/mikkelintarina/mikkeli-logo.jpg")
          .col-sm-15.social-button-col
            .top-bar-btn-container
              a.redo-btn(href="/sisalto/mikkelin-tarina") Tee kysely uudelleen
              h4.hashtag
                ='#' + hashtag
              h3
                i.fa.fa-facebook-square.social-share-btn(data-share-url="https://www.facebook.com/sharer/sharer.php?u={{url}}")
                i.fa.fa-twitter.social-share-btn(data-share-url="https://twitter.com/intent/tweet/?url={{url}}&hashtags=" + hashtag)
                a.fa.fa-download.download-image(download='mikkelin-tarina.jpg')
    .container-fluid
      .row.negative-margin
        .col-lg-8
          .results-image(style="background-image:url(/gfx/mikkelintarina/" + image + ")")
        .col-lg-16
          .story-container
            !=story
            br
            br
            h3 Jaa tuloksesi
              i.fa.fa-facebook-square.social-share-btn(data-share-url="https://www.facebook.com/sharer/sharer.php?u={{url}}")
              i.fa.fa-twitter.social-share-btn(data-share-url="https://twitter.com/intent/tweet/?url={{url}}&hashtags=" + hashtag)
              a.fa.fa-download.download-image(download='mikkelin-tarina.jpg')
            p Millaisia mikkeliläisiä kaverisi ovat? Kutsu heidät mukaan rakentamaan Mikkelin brändiä.
        .col 
          canvas(id="canvas", width=1920,height=1080, style="display: none")
          img(id="image",src="/gfx/mikkelintarina/" + image, style="display: none")
      
