extends ../layout/contents.pug

include ../includes/mixins.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/jquery-lazyload/1.9.7/jquery.lazyload.min.js")
  script(defer="defer",type="text/javascript", src="/js/news-list.js")

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/news-list.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner(data-lazy-bg-image=bannerSrc)
      
  .container.page-container
    .row#main
      +breadcrumbs(breadcrumbs)
        
  .container.page-container
    .row
      .col-xs-24
        .page-content(tabindex="0")
          .col-xs-24
            .row
              h1
                if tag
                  |Uutiset tagilla '
                  =tag
                  |'
                else
                  |Uutiset
          .col-xs-24.articles-container
            .row
              each newsArticle in newsArticles
                .col-xs-24
                  .row.news-article
                    .col-xs-24.col-md-6.col-lg-4
                      .article-image-container
                        img.lazy.article-image(src=newsArticle.imageSrc, alt="Artikkelin kuva", title="Artikkelin kuva")
                    .col-xs-24.col-md-18.col-lg-20
                      .row
                        .col-xs-24
                          span.date
                            =newsArticle.shortDate
                          a.title(title=newsArticle.title,href='/uutiset/' + newsArticle.slug)
                            !=newsArticle.title
                      .row
                        .col-xs-24
                          !=newsArticle.abstract
          if page !== undefined
            .col-xs-24.pages-container.no-gutters
              - var tagQueryParam = tag ? '&tag=' + tag : ''
              if page > 0
                a.page-prev(href="?page=" + (page - 1) + tagQueryParam, title="Edellinen sivu")
                  |Edellinen sivu
              else
                span.page-prev
                  |Edellinen sivu
              span.page-number
                |Sivu 
                =page + 1
              if !lastPage
                a.page-next(href="?page=" + (page + 1) + tagQueryParam, title="Seuraava sivu")
                  |Seuraava sivu
              else
                span.page-next
                  |Seuraava sivu
