extends ../layout/contents.pug

include ../includes/mixins.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/async/2.1.4/async.min.js")
  script(defer="defer",type="text/javascript", src="/js/search.js")

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/search.min.css")

block content
  .container-fluid.no-gutters
    .row
      .col-xs.banner-container
        .banner(data-lazy-bg-image=bannerSrc)
      
  .container.page-container
    .row
      +breadcrumbs(breadcrumbs)
        
  .container.page-container
    .row
      .col-xs-24
        .page-content(tabindex="0")
          .col-xs-24
            h1
              |Haku
          .col-xs-24.search-container
            .row
              .col-xs-24
                label(for="query-search") Haku
                input.form-control(title="Haku" type="text", id="query-search" ,name="query", value=search)
            .row
              .col-xs-24
                input.btn.btn-lg.btn-primary(type="submit", title="Haku -painike", name="search",value="Hae")
            .row
              .col-xs-24.results-container
                .col-xs-24.search-hint-container.no-gutters(style="display:none")
                  |Kirjoita hakulause kenttään ja paina "Hae" -painiketta.
                .col-xs-24.search-results-container.no-gutters(style="display:none")
                  ul.nav.nav-tabs.search-results-tabs(role="tablist")
                    li.nav-item
                      a.nav-link.pages-tab.active(title="Sivut", data-toggle="tab", href="#pages-tab", role="tab")
                        |Sivut
                    li.nav-item
                      a.nav-link.news-tab(title="Uutiset", data-toggle="tab", href="#news-tab", role="tab")
                        |Uutiset
                    li.nav-item
                      a.nav-link.files-tab(title="Tiedostot", data-toggle="tab", href="#files-tab", role="tab")
                        |Tiedostot
                    li.nav-item
                      a.nav-link.oppiminen-pages-tab(title="Oppiminen.mikkeli.fi", data-toggle="tab", href="#oppiminen-pages-tab", role="tab")
                        |Oppiminen.mikkeli.fi
                  .tab-content.search-results-tab-content
                    .tab-pane#pages-tab(role="tabpanel")
                    .tab-pane#news-tab(role="tabpanel")
                    .tab-pane#files-tab(role="tabpanel")
                    .tab-pane#oppiminen-pages-tab(role="tabpanel")