extends ../layout/timetables.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/leaflet/1.0.3/leaflet.js")
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js")
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/moment/2.17.1/moment-with-locales.js")
  script(defer="defer",type="text/javascript", src="/js/timetables.js")

block styles
  link(rel="stylesheet", href="//cdn.metatavu.io/libs/leaflet/1.0.3/leaflet.css")
  link(rel="stylesheet", href="//cdn.metatavu.io/libs/leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css")

block content
  input(id="stops-json" type='hidden', value=JSON.stringify(stops))
  input(id="zoom-level" type='hidden', value=zoom)
  .container-fluid.no-gutters
    .row.header
      .col-xs-12.title
        h1 Bussiaikataulut
      .col-xs-12
        h1.pull-xs-right.current-time
    .row
      .col-xs-12
        .timetable-container
          img.loader(alt="Ladataan", title="Ladataan", src='/gfx/load.svg')
      .col-xs-12
        #map