doctype html
html
  include ../includes/head.pug
  body.index
    .row.no-margins
      .col-xs.no-gutters
        include ../includes/nav.pug
    .row.no-margins
      .col-xs.no-gutters
        block content
    .row.no-margins
      .col-xs.no-gutters
        include ../includes/footer.pug