doctype html
html
  include ../includes/head.pug
  body.index
    .row.no-margins
      .col-xs
        include ../includes/nav.pug
    .row.no-margins
      .col-xs
    .row.no-margins
      .col-xs
        block content
    .row.no-margins
      .col-xs
        include ../includes/footer.pug