doctype html
html(lang='fi')
  include ../includes/head.pug
  body.index
    .content-container
      .container-fluid.no-gutters
        .row
          .col-xs
            .horizontal-line
      .row.no-margins
        .col-xs.no-gutters.no-overflow
          include ../includes/nav.pug
      .row.no-margins
        .col-xs.no-gutters.no-overflow
          block content
      .row.no-margins
        .col-xs.no-gutters.no-overflow
          include ../includes/footer.pug