.col-xs-24.col-md-12.small-page-banner-container
  .small-page-banner(style="background-image: url(" + imageSrc + ")")
    a.small-page-banner-link(title=href, href=href, target='_blank')
    .small-page-banner-title
      span
        =title
      span.fa.fa-angle-right