.col-xs-24.col-md-12.small-page-banner-container
  .small-page-banner(style="background-image: url(" + imageSrc + ")")
    a.small-page-banner-link(href=href, target='_blank')
    .small-page-banner-title
      span
        =title
      i.fa.fa-angle-right