if !pages.length && !files.length
  .no-results
    |Haulla ei löytynyt tuloksia
else
  if pages.length
    p.search-header
      |Sivut
    ul
      each page in pages
        li
          span.fa.fa-file-text-o(aria-hidden="true")
          a(href='/redirect/page/' + page.id,title=page.title)
            =page.title
  if files.length
    p.search-header
      |Tiedostot
    ul
      each file in files
        li
          span.fa.fa-paperclip(aria-hidden="true")
          a(href='/redirect/file/' + file.id, title=file.title)
            =file.title
          a.file-page-link(href='/redirect/page/' + file.pageId)
            span.fa.fa-external-link(aria-hidden="true")
  if newsArticles.length
    p.search-header
      |Uutiset
    ul
      each newsArticle in newsArticles
        li
          span.fa.fa-newspaper-o(aria-hidden="true")
          a(href='/uutiset/' + newsArticle.slug, title=newsArticle.title)
            =newsArticle.title